[submodule "tests/src/midifile"]
	path = tests/src/midifile
	url = https://github.com/craigsapp/midifile.git
[submodule "tests/src/tinywav"]
	path = tests/src/tinywav
	url = https://github.com/mhroth/tinywav.git
[submodule "hvcc/generators/ir2c/static/MicroNam"]
	path = hvcc/generators/ir2c/static/MicroNam
	url = https://github.com/jaffco/MicroNAM.git
[submodule "tests/c/unity"]
	path = tests/c/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
